header {
  height: 1rem;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5rem;
}

.logo img {
  height: 3rem;
}

.search-form {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  width: 90%;

  background-color: var(--white-alpha-8);
  padding: 1.1rem 4rem;
  border-radius: 100px;
  margin-left: -3rem;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  outline: none;
  width: 100%;
}

.icon {
  height: 2rem;
  width: 2rem;
  font-weight: 400;
}

.location {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 100px;
  font-size: 1.4rem;
}

.location:hover {
  background-color: var(--primary-lighter);
  transform: translateY(-1px);
  transition: transform 0.3s ease-in-out;
}
.location:active {
  transform: translateY(2px); /* Move down further on click */
  transition: transform 0.1s ease-in-out;
}
.logo a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-0 {
  font-size: 3rem;
  margin-bottom: 0;
}

@media (max-width: 867px) {
  .title-0 {
    display: none;
  }

  header {
    margin: 0 1rem;
  }

  .search-form {
    margin-left: auto;
    border-radius: 100%;
    justify-content: flex-end;
    width: 65%;

    margin-right: 2rem;
    /* background-color: transparent; */
  }
  .search-input {
    width: 10%;

    transition: all 0.3s ease-in-out;
  }
  .location {
    padding: 1rem 1rem;
    border-radius: 999px;
  }
  .hidden-location {
    display: none;
  }
  .icon {
    font-size: 40px;
  }
}
